#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  /* padding: 2rem; */
  text-align: center;
  /* color: red; */
}

* {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: row;
  /* background-color: black; */

  /* left: 0; */
}

.nav-bar {
  height: 100vh;
  width: 10%;
  /* background-color: rgb(160, 190, 42); */
  position: fixed;
  /* align-self: right; */
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-views {
  height: 100vh;
  width: 90%;
  background-color: green;
}

.home-component {
  height: 100vh;

  background-color: rgb(23, 66, 72);

  align-items: center;
  justify-content: center;
}

.aboutus-component {
  height: 100vh;

  background-color: rgb(164, 162, 19);

  align-items: center;
  justify-content: center;
}

.services-component {
  height: 100vh;

  background-color: rgb(181, 113, 24);

  align-items: center;
  justify-content: center;
}

.projects-component {
  height: 100vh;

  background-color: rgb(59, 5, 53);

  align-items: center;
  justify-content: center;
}

.home-link {
  align-items: center;
  justify-content: center;

  border: 2px;
  border-style: dashed;
  border-radius: 15px;
  border-color: white;

  height: 100px;
}

.aboutus-link {
  align-items: center;
  justify-content: center;

  border: 2px;
  border-style: dashed;
  border-radius: 15px;
  border-color: white;

  height: 600px;
}

.services-link {
  align-items: center;
  justify-content: center;

  border: 2px;
  border-style: dashed;
  border-radius: 15px;
  border-color: white;

  height: 100px;
}

.projects-link {
  align-items: center;
  justify-content: center;

  border: 2px;
  border-style: dashed;
  border-radius: 15px;
  border-color: white;

  height: 100px;
}
